.App {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-left: 20px;
}
.App-content{
  display: flex;
  justify-content: space-around;
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;

 
}
.App-movielist{
  /*overflow-x: hidden;
  white-space: nowrap;
  overflow-y: auto;
  */
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
hr {

  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.App-favoritelist{
  /*height: 800px;*/
  background-color: hsl(220, 60%, 17%);
  color: azure
  
}

.favoritelist-tittle{
  margin-top: 40px
}
.favoritelist-footer{
  vertical-align: bottom;
}

.favoritelist-content{
  margin-bottom: 0px
}

/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
